spring:
  application:
    name: Procure-to-Pay
    version: 1.0

  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:testdb
    username: pa
    password: pass
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    show-sql: true
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    path: /api-docs

security:
  jwt:
    secret-key: ${SECURITY_JWT_SECRET_KEY}
    expiration: 86400000
    refresh-token:
      expiration: 604800000
    super-admin: ${SECURITY_JWT_SUPER_ADMIN}